langchain
langgraph
langchain-core
langchain-community
langchain-groq
langchain-openai
pydantic
arxiv
wikipedia
streamlit
langgraph-checkpoint-sqlite
langchain-text-splitters
pypdf
langchain-huggingface
sentence_transformers
faiss-cpu
langchain-tavily
fastmcp
langchain_mcp_adapters